  {% extends 'base.html' %}
  {% block content %}
  <div class="wrapper container">
    <article class="container layer-front">
        <h1 class="static">название</h1>
        <h1 class="static">жанр</h1>
        <h1 class="static">страна</h1>
        <h1 class="static">год выпуска</h1>
        <h1 class="static">описание</h1>
    </article>
    <article class="container layer-end">
        <section id="carouselExampleControls" class="layer1 carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container"> 
                <div class="row justify-content-between">
                  <div class="col-4">
                    <img src="/static/images/img1png.png" alt="First slide">
                  </div>
                  <div class="col-4 text-slider border border-dark">
                    <div class="static-item">
                    <h1 class="desc">название</h1>
                    <h1 class="desc">жанр</h1>
                    <h1 class="desc">страна</h1>
                    <h1 class="desc">год выпуска</h1>
                    <h1 class="desc">описание</h1>
                  </div>
                  </div>
                </div>
              </div>
            </div>
           <div class="carousel-item">
              <div class="container"> 
                <div class="row justify-content-between">
                  <div class="col-4">
                    <img src="https://image.freepik.com/free-icon/no-translate-detected_318-1943.jpg" alt="First slide">
                  </div>
                  <div class="col-4 text-slider border border-dark">
                    <h1 class="desc">что-то типа описания</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </section>
    </article>
  </div>
  {% endblock %}