  {% extends 'base.html' %}
  {% block content %}
  
  <section class="title-site">
    <h1 class="ts">Review - это то место, где вы можете поделиться своим мнением о музыке, которая вам нравится, найти новых друзей и весело провести время</h1>
  </section>
  <div class="wrapper">
    <section>
      <article>
        <div class="row align-items-center">
          <div class="col border-desc">
            <h2 class="tt">Одна из трех колонок</h2>
          </div>
          <div class="col border-desc">
            <h2 class="tt">Одна из трех колонок</h2>
          </div>
          <div class="col border-desc">
            <h2 class="tt">Одна из трех колонок</h2>
          </div>
          <div class="col border-desc">
            <h2 class="tt">Одна из трех колонок</h2>
          </div>
        </div>
      </article>
      <article id="carouselExampleIndicators" class="layer1 carousel slide" data-ride="carousel">
         
          <div class="carousel-inner">
            {% for album in albums %}
            <div class="carousel-item{% ifequal album.index 0 %} active{% endifequal %}">
                <div class="container"> 
                <div class="row justify-content-between">
                  <div class="col-4">
                    <img src="/static/projectone/images/{{ album.img }}" alt="{{ album.alt }}">    
                  </div>
                  <div class="col-4 text-slider border border-dark">
                    <h2> {{ album.artist_name }}</h2>
                    <h3> {{ album.album_name }}</h3>
                    <p> {{ album.release_date }}</p>
                    <p> {{ album.description }}</p>
                  </div> 
                </div>
            </div>
          </div>

             {% endfor %}
            
            </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </article>
    
        


    </section>
  </div>
 {% endblock %}
