  {% extends 'base.html' %}
  {% block content %}
  
  <section class="title-site">
    <h1 class="ts">Review - это то место, где вы можете поделиться своим мнением о музыке, которая вам нравится, найти новых друзей и весело провести время</h1>
  </section>
  <div class="wrapper">
    <section>
      <article>
        <div class="row align-items-center">
          <div class="col border-desc">
            <h2 class="tt">Одна из трех колонок</h2>
          </div>
          <div class="col border-desc">
            <h2 class="tt">Одна из трех колонок</h2>
          </div>
          <div class="col border-desc">
            <h2 class="tt">Одна из трех колонок</h2>
          </div>
          <div class="col border-desc">
            <h2 class="tt">Одна из трех колонок</h2>
          </div>
        </div>
      </article>
         <article id="carouselExampleControls" class="layer1 carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for visual in visuals %}
            <div class="item{% ifequal visual.index 0 %} active{% endifequal %}" style="background-color:#000;">
              <div class="container">
              <div class="row justify-content-between">
                <div class="col-4">
            <img  src="/static/projectone/images/"{{ visual.img }} alt="{{ visual.alt }}">
            </div>
            <div class="col-4 text-slider border border-dark">
              <h3> {{ visual.title }}</h3>
             <p> {{ visual.body }}</p>
            </div>
            
                  </div>
                </div>
              </div>
            </div>
           {% endfor %}
         </article>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </article>

    </section>
  </div>
 {% endblock %}
