{% extends 'base.html' %}
{% block content %}
  	{% for post in posts %}
	    <div class="wrapper-list">
	    	<div class="wrapper-list-content">
    		<p class="author-post">{{ post.author }}</p>
			<p class="title-post">{{ post.title }}</p>
			<p class="text-post">{{ post.text|linebreaksbr }}</p>
			<small class="edit"><a class="edit" href="{% url 'post_detail' pk=post.pk %}">	Edit</a></small>
			<small class="data-post">{{ post.published_date }}</small>
			</div>  
	    </div>
	{% endfor %}
{% endblock %}