{% extends 'base.html' %}

{% block content %}
	<div class="wrapper">
    	<h1>New post</h1>
    		<section>
    			
				    <form method="POST" class="post-form">{% csrf_token %}
				        {{ form.as_p }}
				        <button type="submit" class="save btn btn-default">Save</button>
				    </form>
			</section>	    


	<!-- ЭТО МОЯ ФОРМА -->
			<section class="field-huield">
				<div class="row justify-content-between">
      				<div class="col">
						<article class="form-huerm">
							<form>
								  <div class="form-group">
								    <label for="title">Title post</label>
								    <input type="text" class="form-control" id="text">
								  </div>
								  <div class="form-group">
								    <label for="area">Password</label>
								    <textarea cols="40" rows="3" class="form-control" id="area"></textarea>
								  </div>
								  <button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</article>
					</div>
					<div class="col-6">	
						<article class="sidebar">
							<p>zdes sidebar</p>
							<p>zdes sidebar</p>
							<p>zdes sidebar</p>
							<p>zdes sidebar</p>
							<p>zdes sidebar</p>
						</article>
					</div>
				</div>	
			</section>

	</div>
{% endblock %}

