{% load staticfiles %}

{% block content %}
<div id="carousel-generic" class="carousel slide" data-ride="carousel" data-interval="20000">
 <ol class="carousel-indicators">
 {% for visual in visuals %}
 <li data-target="#carousel-generic" data-slide-to="{{ visual.index }}" {% ifequal visual.index 0 %}class="active"{% endifequal %}></li>
 {% endfor %}
 </ol>
 <div class="carousel-inner" role="listbox">
 {% for visual in visuals %}
 <div class="item{% ifequal visual.index 0 %} active{% endifequal %}" style="background-color:#000;">
 <img style="opacity:0.6; -moz-opacity:0.6; filter: alpha(opacity=60) black; -khtml-opacity: 0.6; -webkit-filter: url(#blur);
 filter: url(#blur); -webkit-filter: blur(3px); filter: blur(3px); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
 -webkit-transition: 1s -webkit-filter linear; transition: 1s filter linear;" src="/static/img/{{ visual.img }}" alt="{{ visual.alt }}">
 <div class="carousel-caption">
 <h3> {{ visual.title }}</h3>
 <p> {{ visual.body }}</p>
 </div>
 </div>
 {% endfor %}
 </div>

 <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
 <span class="sr-only">Сюда</span>
 </a>
 <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
 <span class="sr-only">Туда</span>
 </a>
</div>

{% endblock %}

'''
      <div id="carousel-generic" class="carousel slide" data-ride="carousel" data-interval="20000" >
  <ol class="carousel-indicators">
    {% for visual in visuals %}
    <li data-target="#carousel-generic" data-slide-to= "{{ visual.index }}" {% ifequal visual.index 0 %} class="active"{% endifequal %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for visual in visuals %}
    <div class="item{% ifequal visual.index 0 %} active{% endifequal %}">
      <img style="opacity:0.6; -moz-opacity:0.6; filter: alpha(opacity=60) black; -khtml-opacity: 0.6; -webkit-filter: url(#blur);
      filter: url(#blur); -webkit-filter: blur(3px); filter: blur(3px); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
       -webkit-transition: 1s -webkit-filter linear; transition: 1s filter linear;" src="/static/img/{{ visual.img }}" alt="{{ visual.alt }}">    </div>
     <div class="carousel-caption">
     <h3> {{ visual.title }}</h3>
     <p> {{ visual.body }}</p>
     </div>
     </div>
     {% endfor %}
     </div>
  <a class="carousel-control-prev" href="#carousel-generic" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-generic" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
'''