
body {
	background-image: url('/static/projectone/images/back.png');
}

.post {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.logo{
	width: 130px;
	height: 65px;
}

nav {
	padding-top: 25px;
	display: inline-block;
}

.colabs{
	position: absolute;
	right: 0;
	margin-right: 15px;
	padding-top: 40px;
}

.header1{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}


.title-site {
	padding-top: 50px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.layer1{
	padding-top: 50px;
}

.tt{
	font-size: 15px;
}

.ts {
	font-size: 25px;
}

.border-desc{
	background-color: #C8AFEA;
	height: 200px;
}

.sidebar {
	height: 200px;
	border-right: 2px solid #DF8EE4;
}

.form-huerm {
	display: flex;
	border-right: 2px solid #DF8EE4;
	border-left: 2px solid #DF8EE4;
	padding: 10px;
	height: auto;
	background-color: #DABAF1;
}

.field-huield {
	height: auto;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

.wrapper {
	margin-top: 50px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

.btn1 {
	padding: 0px;
	margin-right: 10px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.2;
}

a {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.2;
  color: black;
}

.text-slider{
	width: 400px;
	height: auto;
}

img {
	width: 100%;
  	height: auto;

}

.static-item
{
	height: 500px;
}

.static {
	margin-top: 1.5px;
	text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: medium;
	text-transform: uppercase;
}

p {
  text-transform: uppercase;
  line-height: 1.2;
}

.desc {
	text-align: left;
	font-size: medium;
	line-height: 1.2;
	text-transform: uppercase;
}

.main {

		padding-bottom: 30px;
		text-align: center;
}