.wk_comment{
	background-color: black; 
}

body {
	background-image: url('/static/projectone/images/back.png');
}

.post {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.logo{
	width: 130px;
	height: 65px;
}

nav {
	padding-top: 25px;
	display: inline-block;
}

.colabs {
	position: absolute;
	right: 0;
	margin-right: 15px;
	padding-top: 40px;
}

.header1 {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}


.title-site {
	padding-top: 50px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.layer1{
	padding-top: 50px;
}

.tt{
	font-size: 15px;
}

.edit{
	color: black;
	opacity: 0.9;
}

.ts {
	font-size: 25px;
}



.border-desc{
	margin-right: 5px;
	border-radius: 10px;
	background-color: #C8AFEA;
}

.sidebar {
	height: 200px;
	border-right: 2px solid #DF8EE4;
}

.form-huerm {
	width: 50%;
	border-radius: 15px;
	padding: 10px;
	height: auto;
	background-color: #DABAF1;
}

.field-huield {
	height: auto;
	width: 80%;
}

.wrapper-list-content {
	padding: 10px;
}

.wrapper-list {
	margin-top: 50px;
	height: auto;
	margin-right: auto;
	margin-left: 86.5px;
	width: 30%;
	background-color: #C8AFEA;
	border-radius: 10px;
}

.wrapper {
	margin-top: 50px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

.btn1 {
	border-radius: 10px;
	padding: 0px;
	margin-right: 10px;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 1.2;
	background-color: #B0AFEA;
	border: 1px solid #B0AFEA;
	color: black;
}

.a {
	color: black;
	text-transform: uppercase;
}

.text-slider{
	padding: 10px;
	width: 400px;
	height: auto;
	background-color: #C8AFEA;
	border-radius: 10px;
}

.wall_post_text {
    line-height: 1.462;
    padding-top: 3px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    word-wrap: break-word;
}


img {
	border-radius: 10px;
	width: 100%;
  	height: auto;

}

.static-item
{
	height: 500px;
}

.static {
	margin-top: 1.5px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.2;
	font-size: medium;
	text-transform: uppercase;
}

p {
  line-height: 1.2;
}

.desc {
	text-align: left;
	font-size: medium;
	line-height: 1.2;
	text-transform: uppercase;
}

.main {

		padding-bottom: 30px;
		text-align: center;
}


.text-post, .author-post, .title-post {
	width: auto;
	padding: 5px;
	border-radius: 10px;
	opacity: 0.9;
	background-color: #B0AFEA;
}